.banner h2{
    color: cornflowerblue;
    text-align: center;
    font-size: 40px;
}
.banner p{
    color: green;
    text-align: center;
    font-size: 30px;
}
.banner img{
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    display: block;
    
}
.banner .text{
    color: black;
    font-size: 21px;
}
.main h3{
    text-align: center;
}
.main .important{
    font-size: 25px;
}
.main .link {
    color: blueviolet;
    text-decoration: none;
}