body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
fieldset{
    border: solid gray;
}
/* .attachment{
    background-color: gray;
}
legend {
    font-weight: 700;
  } */
  
button{
    background-color: red;
    color: white;
    border: 0px;
    padding: 10px;
}
#submit{
    text-align: center;
}